<div class="container-fluid">
    <div class="row">

        <!-- col-4 col-sm-4 col-md-3 col-lg-2 -->
        <div class="align-self-start p-0">
            <app-sidebar [name]="name" [role]="role" class="" ></app-sidebar>
        </div>


        <!-- col-8 col-sm-8 col-md-9 col-lg-10 offset-4 offset-sm-4 offset-md-3 offset-lg-2 -->
        <!-- Main Body -->
        <div class="col-10 col-sm-10 col-md-9 col-lg-10 offset-2 offset-sm-2 offset-md-3 offset-lg-2 align-self-end p-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>