<div class="container-fluid">
    <div class="p-2 row" *ngIf="allowedRoles.includes(role)">
        <div class="col-sm-12 col-md-6">
            <div class="bg-dark p-4 rounded-4">
                <div class="row g-3 text-white">
                    <h4>Enter Sections Excel File</h4>
                    <div class="input-group" data-bs-theme="dark">
                        <div class="col-12 p-2">
                            <h5>Select Semestre</h5>

                            <select [(ngModel)]="selectedSemestre" class="form-select "
                                aria-label="Default select example">
                                <option value="" selected disabled hidden>Choose Semestre</option>
                                <option value="Fall">Fall</option>
                                <option value="Spring">Spring</option>
                                <option value="Summer">Summer</option>
                            </select>
                        </div>
                        <div class="col-12 p-2">
                            <h5>Select Academic Year</h5>

                            <input [(ngModel)]="academicYear" type="text" class=" form-control text-white"
                                placeholder="Please Put The Academic Year ex:YYYY-YYYY" pattern="\d{4}-\d{4}">
                        </div>

                        <div class="col-12 p-2">
                            <input (change)="readSectionsFromExcel($event)" type="file" id="inputGroupFile04"
                                aria-describedby="inputGroupFileAddon04" aria-label="Upload" class="form-control">
                        </div>
                        <div class="col-12 p-2">
                            <button class="btn text-white btn-secondary" (click)="uploadSections()" type="button"
                                id="inputGroupFileAddon04">Upload
                                Sections</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 pt-4 pt-sm-4 pt-md-0">
            <div class="bg-dark p-4 rounded-4">
                <div class="row g-3 text-white" data-bs-theme="dark">
                    <h4>Enter Section Details</h4>
                    <div class="col-12 col-lg-6 p-2">
                        <h5>Select Course</h5>
                        <select [(ngModel)]="newSectionCourseId" class="form-select " aria-label="Default select example">
                            <option value="" selected disabled hidden>Choose Course</option>
                            <ng-container *ngFor="let c of dbCourses">
                                <option value="{{c.id}}">{{c.title}}</option>
                            </ng-container>
                        </select>

                    </div>

                    <div class="col-lg-6 col-12 p-2">
                        <h5>Select Insructor</h5>
                        <select [(ngModel)]="newSectionInstructorId" class="form-select " aria-label="Default select example">
                            <option value="" selected disabled hidden>Choose Insructor</option>
                            <ng-container *ngFor="let i of dbInstructors">
                                <option value="{{i.id}}">{{i.username}}</option>
                            </ng-container>
                        </select>
                    </div>

                    <div class="col-lg-6 col-12 p-2">
                        <h5>Select Room</h5>
                        <select [(ngModel)]="newSectionRoomId" class="form-select " aria-label="Default select example">
                            <option value="" selected disabled>Choose Room</option>
                            <ng-container *ngFor="let r of dbRooms">
                                <option value="{{r.id}}">{{r.roomNum}}</option>
                            </ng-container>
                        </select>
                    </div>

                    <div class="col-12 col-lg-6 p-2">
                        <h5>Select Start Time</h5>
                        <input [(ngModel)]="newSectionStartTime" type="text" class=" form-control text-white"
                            placeholder="Please Put The Start Time" >
                    </div>

                    <div class="col-12 col-lg-6 p-2">
                        <h5>Select End Time</h5>
                        <input [(ngModel)]="newSectionEndTime" type="text" class=" form-control text-white"
                            placeholder="Please Put The End Time" >
                    </div>

                    <div class="col-12 col-lg-6 p-2">
                        <h5>Select Section Max Number</h5>
                        <input [(ngModel)]="newSectionMaxNumber" type="text" class=" form-control text-white"
                            placeholder="Please Put The Section Max number">
                    </div>

                    <div class="col-12 col-lg-6 p-2">
                        <h5>Select Section</h5>
                        <!-- <input [(ngModel)]="academicYear" type="text" class=" form-control text-white"
                            placeholder="Please Put Section Timeling MTWTH"> -->
                        <label class="col-12 col-lg-6">
                            <input [(ngModel)]="m" class="form-check-input me-1" type="checkbox"
                                value="" />M
                        </label>
                        <label class="col-12 col-lg-6">
                            <input [(ngModel)]="T" class="form-check-input me-1" type="checkbox"
                                value="" />T
                        </label>
                        <label class="col-12 col-lg-6">
                            <input [(ngModel)]="W" class="form-check-input me-1" type="checkbox"
                                value="" />W
                        </label>
                        <label class="col-12 col-lg-6">
                            <input [(ngModel)]="Th" class="form-check-input me-1" type="checkbox"
                                value="" />Th
                        </label>
                    </div>

                    <div class="col-12 col-lg-6 p-2">
                        <h5>Select Academic Year</h5>
                        <input [(ngModel)]="newSectionAcademicYear" type="text" class=" form-control text-white"
                            placeholder="Please Put The Academic Year ex:YYYY-YYYY">
                    </div>

                    <div class="col-12 col-lg-6 p-2">
                        <h5>Select Semestre</h5>
                        <select [(ngModel)]="newSectionSemestre" class="form-select " aria-label="Default select example">
                            <option value="" selected disabled hidden>Choose Semestre</option>
                            <option value="Fall">Fall</option>
                            <option value="Spring">Spring</option>
                            <option value="Summer">Summer</option>
                        </select>
                    </div>

                    <div class="col-12 col-lg-6 p-2">
                        <h5>Select Code</h5>
                        <input [(ngModel)]="newSectionLetter" type="text" class=" form-control text-white"
                            placeholder="Please Put The Section Code" pattern="">
                    </div>
                    <div class="col-12 p-2">
                        <button class="btn text-white btn-secondary" (click)="onSubmit()" type="button"
                            id="inputGroupFileAddon04">Upload
                            Sections</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="p-2 row">
        <div class="bg-dark rounded-4 ">
            <div class="p-4 m-4 table-responsive ">
                <h3 class="text-white p-2">Full Section Data</h3>
                <table class="table table-hover" id="rooms" data-bs-theme="dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Code</th>
                            <th scope="col">Title</th>
                            <th scope="col">Section</th>
                            <th scope="col">Room</th>
                            <th scope="col">NB</th>
                            <th scope="col">Schedule</th>
                            <th scope="col">Instructor</th>
                            <th scope="col">Semestre</th>
                            <th scope="col">Acdemic Year</th>

                            <th scope="col" *ngIf="role=='SuperAdmin'||role=='Admin'">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container
                            *ngFor="let item of dbSections">
                            <tr class="text-white">
                                <td>{{item.id}}</td>
                                <td [ngClass]="{'bg-danger':item.course==null}">
                                    {{item.course!=null?item.course.code:"Course of this section not found! upload it
                                    and come edit this section"}}</td>
                                <td [ngClass]="{'bg-danger':item.course==null}">
                                    {{item.course!=null?item.course.title:"Course of this section not found! upload it
                                    and come edit this section"}}</td>
                                <td>{{item.section}}</td>
                                <td [ngClass]="{'bg-danger':item.room==null}">{{item.room!=null?item.room.roomNum:"Room
                                    of this section not found! uploadit and come edit this section"}}</td>
                                <td>{{item.nb}}</td>
                                <td>{{item.schedule}}</td>
                                <td [ngClass]="{'bg-danger':item.instructor==null}">
                                    {{item.instructor!=null?item.instructor.username:"Instructor of this section not
                                    found! upload it and come edit this section"}}</td>
                                <td>{{item.semester}}</td>
                                <td>{{item.academicYear}}</td>
                                <td *ngIf="role=='SuperAdmin'||role=='Admin'"><a (click)="onEdit(item)"><i class="edit-icon fa fa-edit "></i></a></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade dark" bsModal data-bs-theme="dark" #EditModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left text-white">Reset Password Confirmation</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-white">Are you sure you want to confirm Reseting password</p>
                <!-- Description Text -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Cancel</button>
                    <button type="button" class="btn btn-primary">Confirm</button>
                </div>
                <!-- Confirm and Cancel Buttons -->
            </div>
        </div>
    </div>
</div>